.profile-holder {
   padding:0 12px;
   p {
      margin:0; }
   .row {
      width:100%;
      overflow:hidden;
      padding: 5px 0; }
   .visual {
      float:left;
      position:relative;
      padding:11px;
      margin-right:15px;
      a {
         position:absolute;
         left:0;
         top:0;
         background: asset-url('design/bg-frame2.png', 'images') no-repeat;
         width: 120px;
         height: 30px;
         line-height:25px;
         padding-top:95px;
         text-align:center; }
      a span {
         opacity:0.4; }
      img {
         display:block;
         box-shadow: 0 0 8px 5px #9821B9;} }
   .text-holder {
      height:1%;
      overflow:hidden;
      padding-right:30px; }
   .info {
      margin:0 0 4px;
      width: 67%;
      overflow:hidden;
      color: $grey_dark;
      dt {
         float:left;
         margin-right:6px;
         width: auto;
        }
      dd {
         margin:0 0 7px;
         width: auto;
        } } }
