.terms {
  background: none repeat scroll 0 0 #1B1B1B;
  border: 2px solid #000000;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.35);
   width: 220px;
   padding: 10px 6px 10px 20px;
   line-height: 12px;
   margin-bottom: 8px;
   .holder {
      height: 234px;
      overflow: hidden; }
   p {
      margin: 0; } }
