/* grey */
$grey                  : #888;
$grey_dark             : #8b8b8b;
$grey_darker           : #333;
$grey_darkest          : #4b4b4b;
$grey_light            : #999;
$grey_lighter          : #6c6c6c;
$grey_lightest         : #bfbfbf;
$grey_transparent      : rgba(100,100,100, 0.7);
$grey_dark_transparent : rgba(50,50,50, 0.98);

$black                 : #000;
$black_light           : #111;

$red                   : #ce0f0f;

$orange                : #f07f24;

$yellow                : #fbea5b;

$purple                : #9821b8;

$green                 : #7fbf4d;
$green_dark            : #356130;

$brown_dark            : #674e3a;

$white                 : #fff;
$white_light           : #e4e4e4;
$white_lighter         : #d4d4d4;
$white_dark            : #eee;

$pink                  : #5a2f5f;

$blue                  : #3875d7;
$blue_light            : #5897fb;
