@import 'webjam/colors';

@mixin button-green{
   color:#fff;
   padding:5px 8px 6px 8px;
   text-align:center;
   text-shadow:0 -1px 0 darken($green, 20%);
   border:1px solid darken($green, 15%);
   border-bottom:1px solid darken($green, 20%); }

a.btn{
   &:hover{
      text-decoration:none; }
   &.green{
      @include button-green; }
   &.action{position:absolute;top:52px;right:20px; } }

.uvTabLabel{
   display:none;
}
