@import 'common';
.flash{
   @include border-radius(6px);
   color: #000;
   padding: 10px;
   margin: 20px;
   background: #fff;
   &.alert{
      border: 1px solid #df9898;
      background: #ffE7E7; }
   &.notice{
     border: 3px solid #ff0000;
   }
   p {
      margin-bottom: 0px; } 
   a {
      color: #000;
      text-decoration: none;
      margin-bottom: 0px; } }
