@import 'chosen';
@import 'common';
@import 'header';
@import 'flash';
@import 'popup';
@import 'footer';
@import 'wall';
@import 'forms';
@import 'users';
@import 'tracks';
@import 'player';
@import 'typography';

html{
  body{
    background:black;
    height:100%;
    min-height:100%;
    color:#fff;
    overflow:hidden;
    font:12px Arial, Helvetica, sans-serif;
    line-height:120%;
  }
}
