@mixin disable-selection{-webkit-user-select:none;
                          -khtml-user-select:none;
                            -moz-user-select:none;
                              -o-user-select:none;
                                 user-select:none;}

// -- 3D wall ------------------------------------------------------------------
.third-dimension-wall{
  #wall{position:absolute;top:50%;margin-top:-500px;padding-top:150px;height:700px;left:0px;width:100%;
    z-index:-2;white-space:nowrap;overflow:hidden;

    #rotate-wall{position:relative;z-index:1;margin:auto;height:800px;}
    #rotate{margin:0 auto;height:800px;
      @include transform(translateZ(600px, false));
    }

    #stage{height:500px;position:relative;margin:0 auto 40px;display:block;
      @include perspective(1400);
      @include perspective-origin(87% 75%);
      @include transform(scale(0.65, 0.65) rotateZ(0) translate(0, 150px));
      ul.ring{width:0px;background:green;height:138px;position:relative;
        @include transform-style(preserve-3d);
        @include single-transition(all, 0.5s, linear);
        li{margin:0;
          a.play, a.pause{background:asset-url('design/track-play-pause.png', 'image');
            position:absolute;top:100px;right:-60px;
            width: 26px;
            height: 26px;
            // can't use text-indent here because of the 3D wall...
            font-size:0;
            color:transparent;
          }

          a.pause{background-position:0 -26px;}

          a.play{display: none;}
          a:hover + a.play{display: block;}

          &.poster{display:inline-block;width:128px;height:128px;
            opacity:1;color:rgba(0, 0, 0, 0.9);z-index:4;overflow:visible;
            @include border-radius(10px);
            img{width:128px;height:128px;margin-left:-64px;
              border:1px solid black;background:#111111;
              &:hover{@include box-shadow(0 0 8px 5px #a5782f);}
            }
          }
        }
        &:last-child.poster{
          -webkit-box-reflect:below 10px -webkit-gradient( linear, left top,left bottom, from(transparent), color-stop(0.5, transparent), to(#333333));
        }
      }
    }
  }
}

// -- Flat wall ----------------------------------------------------------------
$plate-size: 128px;
$plate-padding: 5px;
$wall-height: ($plate-size + ($plate-padding * 2)) * 4;

.flat-wall{
  #wall{height:$wall-height;width:100%;position:absolute;top:50%;margin-top:-($wall-height/2);
    #stage{
      ul.ring{height:$plate-size + ($plate-padding * 2);white-space:nowrap;
        li{display:inline-block;margin:0;position:relative;
          width: $plate-size + ($plate-padding * 2);
          height: $plate-size + ($plate-padding * 2);
          img{width: $plate-size; height: $plate-size;margin:$plate-padding;float:right;}
          &.poster{display:inline-block;width:138px;height:128px;
            opacity:1;color:rgba(0, 0, 0, 0.9);z-index:4;overflow:visible;
            @include border-radius(10px);
            img{width:128px;height:128px;margin-left:-64px;
              border:1px solid black;background:#111111;
              &:hover{@include box-shadow(0 0 8px 5px #a5782f);}
            }
          }
          a.play, a.pause{background:asset-url('design/track-play-pause.png', 'image');
            position:absolute;top:96px;left:10px;text-indent:-9001px;
            width: 26px;
            height: 26px;
          }
          a.pause{background-position:0 -26px;}
          a.play{display: none;}
          a:hover + a.play{display: block;}
        }
      }
    }
  }
}

// -- Shared wall styles -------------------------------------------------------
html.flat-wall, html.third-dimension-wall{
  #wall{
    @include disable-selection;

    #stage{
      ul.ring{
        li{
          // -- Hover colours
          &.track img:hover{
            @include box-shadow(0 0 8px 5px #34db34);
          }
          &.user img:hover{
            @include box-shadow(0 0 8px 5px #9821b9);
          }
        }
      }
    }

    #rotate_next, #rotate_prev{position:absolute;left:0;top:0;height:100%;width:140px;
      z-index:100;cursor:pointer;
      @include disable-selection;
    }
    #rotate_prev{cursor:w-resize;}
    #rotate_next{cursor:e-resize;left:auto;right:0;}
  }
}

.me-plugin{
  display: none;
}
