/ Start Wall
%a.expand{:href => "#"}
  %img{:alt => "", :src => "../../assets/expand-btn.png"}/
#left-panel.show
  #account-info
    %img.sidebar-avatar{:alt => "", :src => "../../assets/avatar-sidebar.png"}/
    .info
      %h3
        Lilliana Víquez Murillo
        = succeed "(lillyanka)" do
          %br/
      %span.location San José, Costa Rica
      %span.email sittingducks@gmail.com
      %span.profile-url
        %a{:href => "http://www.operationjam.com/#!/user/lillyanka"} http://www.operationjam.com/#!/user/lillyanka
    #share-profile
      %span.text Share this profile:
      %span.st_facebook
      %span.st_twitter
      %span.st_myspace
      %span.st_googleplus
      %span.st_email
  / /account-info
  #activity-summary
    .broadcasts
      %span.count 3
    .tracks
      %span.count 50
    .likes
      %span.count 120
/ left-panel
#wall
  #wall-nav
    %a#left{:href => "#"}
      %img{:alt => "", :src => "../../assets/left-arrow.png"}/
    %a#right{:href => "#"}
      %img{:alt => "", :src => "../../assets/right-arrow.png"}/
  / /wall-nav
  #stage
    %ul.ring
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
    / /ring
    %ul.ring
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
    / /ring
    %ul.ring
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
    / /ring
    %ul.ring
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
      %li.track.poster
        %a{:href => "#"}
          %img{:alt => "", :src => "../../assets/track-image.png"}/
        %a.play{:href => "#"} Play
        %a.pause{:href => "#"} Pause
        %a.title{:href => "#"} Track title
        %a.artist{:href => "#"} Artist
    / /ring
/ /wall