.oauth
  %a.signin.twitter{:href => '/users/auth/twitter'} Sign in with twitter
  %a.signin.facebook{:href => '/users/auth/facebook'} Sign in with facebook
  %a.signin.myspace{:href => '/users/auth/myspace'} Sign in with myspace
